---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<style>
  main {
    max-width: 1300px;

    width: 90%;
    margin: 0 auto;
    color: var(--black);
  }

  html.dark main {
    color: var(--pure-white);
  }

  h1 {
    font-size: var(--h1);
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: var(--pg1);
    max-width: 500px;
  }

  h4 {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    font-size: var(--pg1);
  }

  .social-networks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .social-networks > * + * {
    margin-left: 1.6rem;
  }

  .social-networks svg path {
    transition: 0.2s;
  }

  .social-networks svg:hover path {
    fill: var(--purple);
  }
  html.dark .social-networks svg path {
    fill: var(--pure-white);
  }
  html.dark .social-networks svg:hover path {
    fill: var(--purple);
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: var(--h1);
    }
    p {
      font-size: var(--pg1);
    }

    h4 {
      font-size: 2rem;
    }
  }
</style>
<BaseLayout
  title="contact"
  description="here are the main ways you can reach me!"
>
  <main>
    <h1>Contact</h1>
    <p class="main-p" style="margin-bottom: 4rem;">
      Here are some of my channels that you can use to reach/follow me:
    </p>
    <h4 style="margin-top: 4rem;">Email</h4>
    <a
      href="mailto:mateusmelornrn@gmail.com"
      style="color: var(--purple); text-decoration: underline;"
      ><p>mateusmelornrn@gmail.com</p></a
    >
    <h4>Social Networks</h4>
    <div style="display: flex; align-items: center;" class="social-networks">
      <a href="https://google.com">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0001 0.640015C7.51694 0.640015 0.640137 7.51682 0.640137 16C0.640137 24.4832 7.51694 31.36 16.0001 31.36C24.4833 31.36 31.3601 24.4832 31.3601 16C31.3601 7.51682 24.4833 0.640015 16.0001 0.640015ZM12.2401 22.3664H9.12974V12.3568H12.2401V22.3664ZM10.6657 11.128C9.68334 11.128 9.04814 10.432 9.04814 9.57121C9.04814 8.69281 9.70254 8.01761 10.7057 8.01761C11.7089 8.01761 12.3233 8.69281 12.3425 9.57121C12.3425 10.432 11.7089 11.128 10.6657 11.128ZM23.6001 22.3664H20.4897V16.8192C20.4897 15.528 20.0385 14.6512 18.9137 14.6512C18.0545 14.6512 17.5441 15.2448 17.3185 15.816C17.2353 16.0192 17.2145 16.3072 17.2145 16.5936V22.3648H14.1025V15.5488C14.1025 14.2992 14.0625 13.2544 14.0209 12.3552H16.7233L16.8657 13.7456H16.9281C17.3377 13.0928 18.3409 12.1296 20.0193 12.1296C22.0657 12.1296 23.6001 13.5008 23.6001 16.448V22.3664Z"
            fill="#656565"></path>
        </svg>
      </a>
      <a href="https://google.com">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 0C7.16429 0 0 7.16429 0 16C0 24.8357 7.16429 32 16 32C24.8357 32 32 24.8357 32 16C32 7.16429 24.8357 0 16 0ZM23.6893 12.0607C23.7 12.2286 23.7 12.4036 23.7 12.575C23.7 17.8179 19.7071 23.8571 12.4107 23.8571C10.1607 23.8571 8.075 23.2036 6.31786 22.0786C6.63929 22.1143 6.94643 22.1286 7.275 22.1286C9.13214 22.1286 10.8393 21.5 12.2 20.4357C10.4571 20.4 8.99286 19.2571 8.49286 17.6857C9.10357 17.775 9.65357 17.775 10.2821 17.6143C9.38474 17.432 8.57813 16.9446 7.99934 16.2349C7.42056 15.5253 7.10531 14.6372 7.10714 13.7214V13.6714C7.63214 13.9679 8.25 14.15 8.89643 14.175C8.35301 13.8128 7.90735 13.3222 7.59897 12.7465C7.29059 12.1709 7.12901 11.528 7.12857 10.875C7.12857 10.1357 7.32143 9.46071 7.66786 8.875C8.66394 10.1012 9.9069 11.1041 11.3159 11.8184C12.725 12.5328 14.2686 12.9427 15.8464 13.0214C15.2857 10.325 17.3 8.14286 19.7214 8.14286C20.8643 8.14286 21.8929 8.62143 22.6179 9.39286C23.5143 9.225 24.3714 8.88929 25.1357 8.43929C24.8393 9.35714 24.2179 10.1321 23.3929 10.6214C24.1929 10.5357 24.9643 10.3143 25.6786 10.0036C25.1393 10.7964 24.4643 11.5 23.6893 12.0607Z"
            fill="#656565"></path>
        </svg>
      </a>
      <a href="https://google.com">
        <svg
          width="32"
          height="31"
          viewBox="0 0 32 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 0C13.8989 0 11.8183 0.406455 9.87706 1.19616C7.93586 1.98586 6.17203 3.14335 4.68629 4.60253C1.68571 7.54948 0 11.5464 0 15.714C0 22.6596 4.592 28.5524 10.944 30.6423C11.744 30.768 12 30.2809 12 29.8566V27.201C7.568 28.1438 6.624 25.0953 6.624 25.0953C5.888 23.2725 4.848 22.7853 4.848 22.7853C3.392 21.8111 4.96 21.8425 4.96 21.8425C6.56 21.9525 7.408 23.461 7.408 23.461C8.8 25.8496 11.152 25.1424 12.064 24.7653C12.208 23.7439 12.624 23.0525 13.072 22.6596C9.52 22.2668 5.792 20.9154 5.792 14.9283C5.792 13.1841 6.4 11.7855 7.44 10.6698C7.28 10.277 6.72 8.64271 7.6 6.52132C7.6 6.52132 8.944 6.09704 12 8.12415C13.264 7.77844 14.64 7.60558 16 7.60558C17.36 7.60558 18.736 7.77844 20 8.12415C23.056 6.09704 24.4 6.52132 24.4 6.52132C25.28 8.64271 24.72 10.277 24.56 10.6698C25.6 11.7855 26.208 13.1841 26.208 14.9283C26.208 20.9311 22.464 22.251 18.896 22.6439C19.472 23.131 20 24.0896 20 25.551V29.8566C20 30.2809 20.256 30.7838 21.072 30.6423C27.424 28.5366 32 22.6596 32 15.714C32 13.6504 31.5861 11.607 30.7821 9.70052C29.978 7.79401 28.7994 6.06171 27.3137 4.60253C25.828 3.14335 24.0641 1.98586 22.1229 1.19616C20.1817 0.406455 18.1012 0 16 0Z"
            fill="#656565"></path>
        </svg>
      </a>
    </div>
  </main>
  <Footer positionAbsolute />
</BaseLayout>
