---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import GreetingCard from "../components/GreetingCard.astro";
---

<style></style>
<GlobalLayout>
  <main>
    <GreetingCard />
  </main>
</GlobalLayout>
