---
interface Props {
  variant?: "outlined" | "filled";
  style?: "string";
}
const { variant, style } = Astro.props;
---

<style>
  button {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;

    cursor: pointer;

    transition: 0.2s;
  }

  button.outlined {
    background-color: transparent;
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
  }

  button.outlined:hover {
    background-color: var(--dark-gray);
    color: white;
  }
</style>
<button style={style} class={variant ?? "outlined"}><slot /></button>
