---
interface Props {
  name: string;
}

const { name } = Astro.props;
const formattedName = name.split("-").join(" ");
---

<style>
  div {
    cursor: pointer;

    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    line-height: 135%;

    background-color: var(--medium-gray);

    padding: 0.4rem 1.2rem;

    transition: 0.3s;
  }

  html.dark div {
    background-color: var(--dark-gray);
  }

  div:hover,
  html.dark div:hover {
    background-color: var(--purple);
  }
</style>
<a href={`/articles/${name}`} style="display: block; ">
  <div>{formattedName}</div>
</a>
