---
---

<style>
  article {
    background-color: rgba(21, 21, 21, 0.3);
    padding: 2.4rem;
    width: 100%;
  }

  img {
    border-radius: 50%;
  }

  p {
    color: var(--medium-gray);
    font-size: 1.9rem;
    line-height: 140%; /* 26.6px */
    letter-spacing: -0.19px;
  }

  .mobile-content header {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .mobile-content header img {
    width: 70px;
    height: 70px;
    margin-right: 1.6rem;
  }
  .mobile-content h2 {
    font-size: 1.9rem;
  }
</style>
<article>
  <div class="mobile-content">
    <header>
      <img
        src="/mateus-small.png"
        width="200"
        height="200"
        alt="An illustration of Mateus, in a purple background with a cyberpunk pair of glasses"
      />
      <h2>Hi, I'm Mateus Nascimento!</h2>
    </header>
    <p>
      I'm 23 years old, currently working @ibm as a back-end developer and I'm
      almost finishing my Bachelor's in Computer Science. I'm a learnaholic by
      design, and I love to write about the things I'm currently studying and/or
      that I find fascinating.
    </p>
  </div>
  <div class="desktop-content"></div>
</article>
